*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* toggle css */
.toggle_nav{
   display: flex;
   flex-direction: column;
   color: #FFFFFF;
  
}
/* .toggle{
    background-color: #1F1F1F;
} */
.toggle_nav span.icon_toggle {
    margin-bottom: 3px;
   margin-top: 5px;
    /* fill: #fcf7f7 !important; */
    display: inline-block;
    width: 28px;
    height: 2px;
    background-color: #FFFFFF;
    /* color: #FFFFFF; */
    vertical-align: middle;
}
li.nav-item{
    text-align: left;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
header .navbar-expand-lg {
    justify-content: space-between;
    padding: 0;
}
header .navbar-collapse {
    flex-grow: 0;
}
.search_icon{
    width: 23px;
}
header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}
li.nav-item a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
li.nav-item a:hover {
    color:red;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}
.navbar-toggler {
    background-color: red;
}

.header_btn{
    padding: 6px 20px;
}
.header_btn:hover{
    background-color: #FFFFFF;
    border:1px solid #F80000;

}
.banner{
    background-image: url(../images/banner_img.png);
    /* height: 500px; */
    padding: 140px 0px;
    height: 500px;

}
 p.sub_title {
    position: relative;
    color: #FFFFFF;
    top: -25px;
    left: 127px;
    right: 0;
    font-size: 20px;
    font-weight: 500;
}
 p.sub_title::before{
    position: absolute;
    height: 40px;
    width: 4px;
    left: -38px;
    top: -4px;
    content: '';
    background: linear-gradient(
180deg, #FFE11A 0%, #FE0000 112.5%);
    transform: rotate(
0.35deg);
    display: inline-block;
    

}
 h1 {
    color: white;
    padding-top: 10px;
    padding-left: 82px;
}
.sub_information{
    color: #FFFFFF;
    padding-left: 80px;
    padding-top: 10px;
    width: 473px;

}
/* .col-5 p{
        color: white;
        width: 369px;
        position: relative;
        top: 30px;
        left: 86px;
        font-size: 15px;
        font-weight: 400;
} */
.banner_btn {
    position: relative;
    top: 20px;
    padding: 8px 18px;
    left: 83px;
}
.banner_btn::after{
    /* background-image: url(../images/arrow_white.png); */
    content: url(../images/arrow_white.png);
    padding-left: 10px;

}
.banner_btn:hover:after{
    content: url(../images/arroe_red.png);
    padding-left: 10px;
}
a.banner_btn:hover{
    color: #F80000;
    background-color: #FFFFFF;
}
a.banner_btn{
    background-color: #F80000;
    font-weight: 500;
    padding: 12px 30px;

}
.tab{
    border-bottom: 1px solid gray;
    padding-bottom: 4px;

}
.tab li a:hover{
    color: #F80000;

}


.list{
    margin-top: 16px;  
}
/* .col a.active{
    color: #FE0000;
    border-bottom: 2px solid #FE0000;
    padding-bottom: 19px;
}
.col a{
    color:gray;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
.col a:hover{
    color: #FE0000;
} */
.technology {
    padding-top: 10px;
}
 h2.main_heading{
    margin-top: 40px;
    color: #1F1F1F;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    font-size: 32px;
    position: relative;  
    padding-bottom: 20px;  
}
 h2.main_heading::after{
    position: absolute;
    height: 4px;
    width: 80px;
    left: 0px;
    right:0px;
    margin: auto;
    bottom: 0px;
    content: "";
    background: linear-gradient(90deg, rgba(255,225,26,1) 0%, rgba(254,0,0,1) 100%);
    display: inline-block;
  
}

.technology p{
    color:  #646464;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
   margin-top: 30px;
   font-style: normal;
   margin-bottom: 23px;
   font-weight: 400;
}

.technology p span{
    display: block;
}

.btn_tech {
    margin-left: 500px;

}
a.btn_one{
  
   border:2px solid #F80000;
   color:#F80000;
   text-decoration: none;
   margin-left: -7px;
   font-weight: 500;
   font-size: 13px;
   padding: 8px 25px;

}
.btn_one::after{
    content: url(../images/arroe_red.png);
    padding-left: 10px;
}
.btn_one:hover:after{
    content: url(../images/arrow_white.png);
    padding-left: 10px;
}


a.btn_one:hover{
  
    color: #FFFFFF;
    background-color: #F80000;
    font-weight: 500px;
}
.card_one{
    margin-top: 50px;
}
.card{
    box-shadow: 0 0 8px #c7c7c7;
}
.card:hover{
    background-color:#fcf7f7;
}
.tab p {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 10px 12px 25px;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    width: 156px;
    margin: 0;
    color: #838383;
}
.tab ul {
    border: none !important;
    width: 85%;
    justify-content: space-between;
    padding: 0px 0% 0 4%;
    display: flex;
    list-style: none;
    margin: 0;
}
.tab .row{
    align-items: center;
}
.tab ul li a{
    color: #838383;
    text-decoration: none;
}
span {
    display: block;
}
h2.heading::after {
    position: absolute;
    height: 4px;
    width: 80px;
    left: 0px;
    right:0px;
    margin: auto;
    bottom: 0px;
    content: "";
    background: linear-gradient(90deg, rgba(255,225,26,1) 0%, rgba(254,0,0,1) 100%);
    display: inline-block;
  
}
a.see_all{
    display: block;
    color:#F80000;
    padding-bottom: 15px;
}
.card_section{
    margin-top: 70px;
}
.title{
    color:#1F1F1F;
    font-size: 20px;
}
.text{
    color: #838383;
     text-transform: capitalize;
     font-size: 15px;
     width: 196px;
    
}
.para{
    padding-top: 22px;
}
.card-body a{
    color: #F80000;
}
.card-link::after{
    content: url(../images/arroe_red.png);
    padding-left: 10px;
}
.main_card{
    margin-top: 30px;
}
.explore{
    margin-top: 20px;
}
.text_para{
    font-size: 15px;
    width:270px
}
.information{
    font-size: 15px;
    color: #838383;
    width: 200px;
}
.information_two{
    font-size: 15px;
    color: #838383;
}

.list{
    list-style: none;
}
.card ul .list::before{
    content: url(../images/Vector.svg);
    display: inline-block;
    transform: scale(.7);
    padding-right: 15px;
    padding-left: 10px;
}
.li_list span{
    display: block;
    padding-left: 50px;
}
ul.card_no_two{
    margin-bottom: 23px;
}
.section_banner{
    background-color:#1F1F1F;
    height: 280px;
    margin-top: 70px;
}
.section_banner p.sub_heading{
    color: #fcf7f7;
    position: relative;
    padding-left: 60px;
    padding-top: 50px;
    text-transform: capitalize;

}
.section_banner p.sub_heading::before{
    position: absolute;
    height: 40px;
    width: 4px;
    left: 30px;
    top: 40px;
    content: '';
    background: linear-gradient( 180deg, #FFE11A 0%, #FE0000 112.5%);
    transform: rotate( 0.35deg);
    display: inline-block;
}
.section_banner h3{
    font-size: 60px;
    padding-left: 20px;
    padding-top: 30px;
    color: #fcf7f7;
}
.section_banner p.info{
    padding-left: 20px;
    color: #fcf7f7;
    width: 200px;
    text-transform: capitalize;
}
.section_banner_two{
    margin-top: 100px;
    background-color: #1F1F1F;
    height: 250px
   
}
.section_banner_two h3{
    color: #FFFFFF;
    padding-top: 50px;
}
.section_banner_two p{
    color: #FFFFFF;
    padding-top: 20px;
}
.section_banner_two a{
    color: #fcf7f7;
    text-decoration: none;
   margin-left: 450px;
  
}
.btn_banner_get{
    margin-top: 30px;

}
.btn_banner{
    background-color: #F80000;
    color: #FFFFFF;
    padding: 10px 15px;
}
.btn_banner::after{
    content: url("../images/arrow_white.png");
    padding-left: 10px;

}
.btn_banner:hover{
    background-color: #FFFFFF;
    color: #F80000;
    border: 1px solid #F80000;
}
.btn_banner:hover:after{
    content: url("../images/arroe_red.png");
    padding-left: 10px;
}

.success_strory{
    margin-top: 50px;
}
.card_right{
    padding-bottom: 80px;
}
h2.main_heading_success{
    position: relative;
    padding-bottom: 50px;
}
h2.main_heading_success::after{
    position: absolute;
    height: 55px;
    width: 3px;
    left: 27px;
    top: 21px;
    content: "";
    background: linear-gradient(rgb(255, 225, 26) 0%, rgb(254, 0, 0) 112.5%);
    transform: rotate(
-90deg);
    display: inline-block;
  
}
.success_heading{
    padding-top: 50px;
    padding-left: 50px;
}
.success_para{
    width: 400px;
    padding-left:50px ;
    padding-top: 20px;
}
p.mike{
    color: #1F1F1F;
    position: relative;
    left: 90px;
}
p.mike::before{
    position: absolute;
    height: 40px;
    width: 4px;
    left: -38px;
    top: -4px;
    content: '';
    background: linear-gradient(
180deg, #FFE11A 0%, #FE0000 112.5%);
    transform: rotate(
0.35deg);
    display: inline-block;
}
span.founder{
    color: #838383;
    display: inline-block;
    padding-left: 10px;

}

.clients{
    border-top: 1px solid #d3d1d1;
}
.clients_logo_one{
    width: 200px;
    
}
.clients_logo_two{
    width: 200px;
    padding-left: 22px;
    /* margin-left: 20px; */
}
.clients_logo_three{
    width: 200px;
    padding-left: 22px;
    /* margin-left: 40px; */
}
.clients_logo_four{
    width: 200px; 
    padding-left: 22px;
    /* margin-left: 80px; */
}
.clients_logo_five{
    width: 200px;
    padding-left: 22px;
    /* margin-left: 125px; */
}
.ready_talk_banner{
    background-color: #1F1F1F;
    margin-top: 50px;
    /* height: 300px; */
}
.heading_ready{
    color: #FFFFFF;
    margin-top: 50px;
}
.info_ready{
    color: #FFFFFF;
    margin-top: 20px;
}
a.text_menu{
    color: #fcf7f7;
}
.info_right{
    margin-top: 46px;
    color: #FFFFFF;
    padding-left: 86px;
    width: 466px;;
}
.text_email{
    padding: 5px 10px;
    margin-top: 30px;
    margin-left: 85px;
    margin-bottom: 20px;
}
a.text_menu {
    margin-top: 30px;
    color: white !important;
    display: block;
    text-align: left;
    border: none;
    border-bottom: 2px solid red;
    position: relative;
    color: #fcf7f7;
}

a.text_menu::after {
    margin-left: 70%;
}
a.btn.btn-danger.btn-sm.banner_btn.lets_btn {
    margin-bottom: 60px;
}
/* footer */
.footer{
    background-color:#1F1F1F;
    margin-top: 50px;
    /* height: 370px; */
}
.footer_nav{
    padding-top: 10px;
}
.footer_wrap a img{
    padding-top: 50px;
}
.address{
    padding-top: 40px;
}
.footer_nav a{
    color: #c7c7c7;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
    padding-top: 20px;
}
.footer_nav a.active{
    color: #F80000;
}
.company_address{
    color: #FFFFFF;
}
.imp_links{
    padding-top: 65px;
}
.imp_links h6{
    color: #FFFFFF;
    padding-left: 60px ;
}
.imp_links_ul{
    list-style: none;
    padding-top: 10px;
    padding-left: 60px ;
   

}
li.link_li {
    padding-bottom: 10px;
}
.link_li a{
    color: #FFFFFF;
    text-decoration: none; 
}
.link_li a:hover{
color: #F80000;
}
.imp_links_two{
    padding-top: 90px;
}
.ul_link_two{
    list-style: none;
    padding-top: 10px;
    padding-left: 20px ;
}
.li_link_two{
    padding-bottom: 10px;
}
.li_link_two a{
    color: #FFFFFF;
    text-decoration: none;

}
.li_link_two a:hover{
    color: #F80000;
}
.right_side_footer{
    padding-top: 60px;
}
.right_side_footer p{
    color:#FFFFFF;
    font-size: 15px;
    font-weight: 500;
}
.text_email_one{
    padding: 8px 10px;

}
.footer_btn{
    margin-top: 20px;
}
.icons_footer{
    margin-top: 20px;
}
.icons_footer i{
    color: #fcf7f7;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    width: 33px;
    height: 33px;
    padding: 7px 8px;
   margin-right: 10px;
}
.footer_btn{
    background-color: #F80000;
    color: #FFFFFF;
}
.footer_btn:hover{
    color: #F80000;
    background-color: #FFFFFF;
}
.bottom_footer{
    border-top: 1px solid #c7c7c7;
}
.bottom_footer p{
    color: #FFFFFF;
    margin-top: 20px;
}
/* slick slider */
.main_card button{  
    width: 30px;
    border: 1px solid red;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px; 
}
    
    
    
.main_card .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
}
.main_card .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
}
.main_card .slick-next {
    right: 7px;
}

/*  */
/* .main_card button{  
    width: 30px;
    border: 1px solid red;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px; 
}    */
/* .success .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
}
.success .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
}
.success .slick-next {
    right: 7px;
} */
/* end slick slider */
.counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }
  span.counter{
    display: inline-block;
  }
 